@font-face {
  font-family: 'GilroyLight';
  src: url("fonts/GilroyLight.eot");
  src: url("fonts/GilroyLight.eot") format("embedded-opentype"), url("fonts/GilroyLight.woff2") format("woff2"), url("fonts/GilroyLight.woff") format("woff"), url("fonts/GilroyLight.ttf") format("truetype"), url("fonts/GilroyLight.svg#GilroyLight") format("svg"); }
.hide {
  display: none !important; }

*, html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  font-family: GilroyLight;
  z-index: 111; }

.body-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/layout/white-striped-cloth.png);
  opacity: 0.85;
  z-index: 100; }

.logo-img {
  display: none;
  margin-left: 20px; }

.logo {
  display: flex;
  justify-content: center; }

#header {
  position: fixed;
  width: 100%;
  z-index: 11000; }

#header .container {
  background-color: #007282; }

.navigation-header {
  padding: 25px 0 25px 0; }

.nav {
  box-shadow: 0 0 2px gray; }

.ul-nav .li-nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold; }

.ul-nav .li-nav {
  list-style-type: none;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.head-contacts .tel span {
  font-size: 18px;
  color: white; }

.head-contacts .tel {
  text-align: center; }

.ul-nav {
  margin-bottom: 0 !important; }

/*=====================banner===================== */
.slider {
  width: 100%; }

.slide-item {
  width: 100%;
  height: 500px; }

.visible-part {
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 2px gray; }

.slogan {
  position: absolute;
  display: flex;
  width: 400px;
  height: 350px;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  margin-left: 50px;
  opacity: 0;
  z-index: 1012;
  box-shadow: 0px 0px 5px white; }

.form-request {
  position: absolute;
  width: 300px;
  height: 250px;
  right: 5%;
  z-index: 1000; }

.form-request-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #72b2bb;
  border: 1.5px solid #5bb5b1;
  box-shadow: 0 0 10px gray;
  border-radius: 5px;
  padding: 20px 0 20px 0; }

.btn-first-form {
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  width: 240px !important;
  height: 40px !important; }

.form-request-form input {
  height: 34px;
  width: 240px;
  color: #05426d !important;
  border: 1px solid #5bb5b1;
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  padding: 4px; }

.bestmesto-slogan span {
  color: #05426d;
  font-size: 28px;
  font-weight: bold;
  text-align: center; }

.slogan_0 {
  background-image: url(../img/new-home.jpg);
  background-size: 100%; }

.slogan_1 {
  background-image: url(../img/office.jpg);
  background-size: 100%; }

.slogan_2 {
  background-image: url(../img/money.jpg);
  background-size: 100%; }

.slogan_3 {
  background-image: url(../img/cash.jpg);
  background-size: 100%; }

.layout-slogan {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 100; }

.slogan span {
  display: block;
  position: absolute;
  z-index: 1000; }

.unique-offer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.unique-title {
  display: flex;
  justify-content: center; }

.unique-title span {
  font-size: 36px;
  color: #05426d;
  font-weight: bold;
  display: block; }

.investment-conditions {
  font-size: 22px;
  color: #05426d;
  line-height: 1.5; }

.item-desc-projects {
  height: 100%; }

/*=====================projects===================== */
#projects {
  margin-top: 100px; }

.projects-item {
  border: 1px dashed #05426d;
  height: 350px;
  cursor: pointer;
  color: #05426d; }

.description-project {
  display: none;
  z-index: 1000;
  border-radius: 7px;
  /* opacity: 0.4; */ }

.description-project .btn-close-desc {
  right: 0;
  position: absolute;
  margin: -20px 10px 0 0;
  display: none; }
.description-project span {
  display: none; }
.description-project .btn-presentation {
  display: none;
  height: 80px; }

.title-desc {
  display: flex;
  justify-content: center; }

.title-desc span {
  font-size: 22px !important;
  color: #05426d;
  font-weight: bold; }

/*=====================payback===================== */
#projects-payback {
  margin-top: 100px; }

.active-projects-payback-item {
  display: flex !important; }

.projects-payback-item {
  display: none; }

.projects-payback-item span {
  font-size: 34px;
  color: #05426d; }

.memu-payback-item {
  cursor: pointer;
  background-color: #d9efff;
  height: 100%; }

.active-memu-payback-item {
  background-color: #2174b1;
  color: white;
  height: 71px;
  margin-top: -3px; }

.memu-payback-item:hover {
  background-color: #2174b1;
  color: white; }

.memu-payback-item:active {
  opacity: 0.7; }

.proj-payback {
  border: 2px dashed #05426d;
  height: 400px;
  width: 100%; }

.menu-payback {
  padding: 25px 0 0 0;
  height: 90px; }

/*=====================calculator===================== */
.calculator {
  width: 100%; }

.start-button {
  width: 100%;
  height: 50px; }

.start-button button {
  width: 100%;
  height: 50px;
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #05426d;
  cursor: pointer;
  outline: none; }

.start-button button:hover {
  background-color: #d9efff;
  color: #05426d; }

.start-button button:active {
  opacity: 0.7; }

/*=====================feedback===================== */
#feedback {
  margin-top: 100px; }

.feedback-item {
  margin-top: 25px;
  padding: 12px;
  font-size: 16px;
  width: 350px;
  height: 40px; }

.feedback-item:last-child {
  height: 100%;
  font-size: 14px; }

/*=====================contacts===================== */
#contacts {
  margin-top: 100px; }

.maps {
  position: relative; }

.contacts {
  /* position: absolute; */
  /*width: 30%;
  height: 100%;
  z-index: 102; */
  width: 40%;
  height: 460px;
  position: absolute;
  right: 0%; }

.layout-contacts {
  position: absolute;
  background-color: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 100; }

.content-contacts {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 102;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 70px; }

.content-contacts-item {
  margin-top: 35px;
  font-size: 18px;
  color: #05426d; }

/*=====================footer===================== */
.footer {
  height: 80px;
  width: 100%;
  background-color: #05426d;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.soc-media {
  height: 80px;
  width: 100%;
  background-color: #05426d;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.icon-soc-media {
  width: 40px;
  height: 40px; }

.icon-soc-media img {
  width: 40px;
  height: 40px; }

/*=====================animate===================== */
@-webkit-keyframes fadeInSlogan {
  0% {
    opacity: 0;
    left: -100px; }
  100% {
    opacity: 1;
    left: 50px; } }
@-moz-keyframes fadeInSlogan {
  0% {
    opacity: 0;
    left: -100px; }
  100% {
    opacity: 1;
    left: 50px; } }
@-o-keyframes fadeInSlogan {
  0% {
    opacity: 0;
    left: -100px; }
  100% {
    opacity: 1;
    left: 50px; } }
@keyframes fadeInSlogan {
  0% {
    opacity: 0;
    margin-left: -100px; }
  100% {
    opacity: 1;
    margin-left: 50px; } }
.fadeIn {
  animation-name: fadeInSlogan;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s; }

/*# sourceMappingURL=style.css.map */
