@font-face {
    font-family: 'GilroyLight';
    src: url('fonts/GilroyLight.eot');
    src: url('fonts/GilroyLight.eot') format('embedded-opentype'),
         url('fonts/GilroyLight.woff2') format('woff2'),
         url('fonts/GilroyLight.woff') format('woff'),
         url('fonts/GilroyLight.ttf') format('truetype'),
         url('fonts/GilroyLight.svg#GilroyLight') format('svg');
}

@font-face {
    font-family: 'SFUITextRegular';
    src: url('fonts/SFUITextRegular.eot');
    src: url('fonts/SFUITextRegular.eot') format('embedded-opentype'),
         url('fonts/SFUITextRegular.woff2') format('woff2'),
         url('fonts/SFUITextRegular.woff') format('woff'),
         url('fonts/SFUITextRegular.ttf') format('truetype'),
         url('fonts/SFUITextRegular.svg#SFUITextRegular') format('svg');

}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeueRegular.eot');
    src: url('fonts/BebasNeueRegular.eot') format('embedded-opentype'),
         url('fonts/BebasNeueRegular.woff2') format('woff2'),
         url('fonts/BebasNeueRegular.woff') format('woff'),
         url('fonts/BebasNeueRegular.ttf') format('truetype'),
         url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}


$font-primary : SFUITextRegular;
$primary-color: #05426d;
$fontSizeSlogan: 28px;
$title-font: BebasNeueRegular;
$fontTitleSize: 40px;

*,html,body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: $font-primary;
  z-index: 113;
  position: relative;

}

.arrow-top {
  position: absolute;
  right: 40px;
  bottom: 100px;
  width: 40px;
  img {
    width: 40px;
    position: fixed;
    cursor: pointer;
  }
}
.layout-mod-web {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 300;
  display: none;
}
.mod-web {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  // align-items: center;
      z-index: 12000;

  div {
    position: relative;
    .real-mod-web {
      z-index: 305;
    }
  }
}
.feedback-form-popup {
  height: 100%;
  width: 500px;
  background-color: #72b2bb;
  border: 1.5px solid #5bb5b1;
  box-shadow: 0 0 10px grey;
  border-radius: 5px;
  padding: 28px 0 30px 0;
  display: flex;
  align-items: center;
  z-index: 305;
}

.feedback-form-popup {

  input {
    margin-bottom: 25px;
    padding: 12px;
    font-size: 16px;
    width: 350px;
    height: 40px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    padding: 4px;
  }

  .feedback {
    margin-bottom: 25px;
    padding: 12px;
    font-size: 16px;
    width: 350px;
    height: 120px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    padding: 4px;
  }

  select {
    margin-bottom: 25px;
    padding: 12px;
    font-size: 16px;
    width: 350px;
    height: 40px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    padding: 4px;
  }
  button {
    // margin-top: 25px;
    width: 350px;
    font-size: 14px;
    height: 40px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    padding: 4px;
    background-color: white;
    font-weight: bold;
  }
  span.choose-pr {
    display: block;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin: 0 0 25px 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 12px white;
    }
  }
  span {
    display: block;
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin: 25px 0 25px 0;
    text-align: center;
  }
}
.real-mod-web {
  .close-btn-mod-web {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 17px;
    top: 17px;
    width: 24px;
    height: 24px;
    display: flex;
    z-index: 312;
    background-image: url(../img/cancel.svg);
    background-size: 100%;
    cursor: pointer;
  }
}
/*=====================header===================== */
.wrapper {
  will-change: transform;
  // width: (100%*4);
}

.hide {
  display: none !important;
}

.body-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/layout/white-striped-cloth.png);
  opacity: 0.85;
  z-index: 100;
}

.logo-img {
  margin-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 11000;

}

#header {
  .container {
    background-color: #007282;
  }
}

.navigation-header {
  padding: 15px 0 15px 0;
}

.nav {
  box-shadow: 0 0 2px gray;
}

.active-li {
  text-shadow: 0 0 20px white;
}

.ul-nav {
  margin: 0;
  display: flex;
  justify-content: space-between;


  .li-nav {
    &:hover {
      text-shadow: 0 0 20px white;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 22px;
      font-weight: bold;
      font-family: $title-font;
      letter-spacing: 1.5px;
      &:hover {

      }
    }
  }
}

.ul-nav {
  .li-nav {
    list-style-type: none;
    // width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $title-font;
    letter-spacing: 1.5px;
    // font-size: 14px;
  }
}

.head-contacts {
  .tel {
    span {
      font-size: 18px;
      // color: $primary-color;
      color: white;
    }
  }
}

.head-contacts{
  .tel {
    text-align: center;
  }
}

.ul-nav {
  margin-bottom: 0 !important;
}

/*=====================banner===================== */

#banner {
  margin-top: 50px;
}

.slider {
  width: 100%;
}

.slide-item {
  width: 100%;
  height: 500px;
}

.visible-part {
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 2px gray;
}

.slogan {
  position: absolute;
  display: flex;
  width: 550px;
  height: 350px;
  // border: 1px dashed $primary-color;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  margin-left: 50px;
  opacity: 0;
  z-index: 1012;
  // box-shadow: 0px 0px 5px white;
}

.form-reques-fix {
  position: fixed;
  width: 300px;
  height: 250px;
  //border: 1px dashed $primary-color;
  right: 2%;
  z-index: 6001;
  bottom: 2%;
  opacity: 0;

}



.form-request {
  position: absolute;
  width: 300px;
  height: 250px;
  //border: 1px dashed $primary-color;
  right: 5%;
  z-index: 1000;
}

.form-request-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #72b2bb;
  border: 1.5px solid #5bb5b1;
  box-shadow: 0 0 10px gray;
  border-radius: 5px;
  padding: 20px 0 20px 0;
}

.form-request-form {
  span {
    color: white;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: -10px;
  }

  input {
    height: 34px;
    width: 240px;
    color: $primary-color !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    padding: 5px 10px 5px 15px;
  }
}

.btn-first-form {
  //background-color: $primary-color;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  width: 240px !important;
  height: 40px !important;
}

.bestmesto-slogan {
  span {
    color:white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    font-family: $title-font;
    line-height: 1;
  }
}

.slogan_1 {
  background-image: url(../img/house-slider.jpg);
  background-size: 100%;
  // background-color: red;

}

.slogan_2 {
  background-image: url(../img/levashovo-min.jpg);
  background-size: 100%;
  // background-color: green;

}

.slogan_3 {
  background-image: url(../img/earth-min.jpg);
  background-size: 100%;
  // background-color: orange;

}

.slogan_4 {
  background-image: url(../img/earth-2-min.jpg);
  background-size: 100%;
  // background-color: brown;

}

.layout-slogan {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  z-index: 100;
}

.slogan {
  span {
    display: block;
    position: absolute;
    z-index: 1000;
  }
}


.unique-offer {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin-top: 50px;
}

.unique-title {
  display: flex;
  justify-content: center;
  padding: 15px 0 30px 0;
}

.unique-title {
  span{
    font-size: $fontTitleSize;
    color: $primary-color;
    font-weight: bold;
    display: block;
    font-family: $title-font;
    letter-spacing: 1.5px;
  }
}

.investment-conditions {
  font-size: 18px;
  color: $primary-color;
  line-height: 1.5;
  p {
    font-size: 20px;
    color: $primary-color;
    line-height: 1.5;
    text-indent: 40px;
    strong {
      font-size: 20px;
      color: $primary-color;
      line-height: 1.5;
    }
  }

//   ul {
//     li {
//       font-size: 22px;
//       color: $primary-color;
//       line-height: 1.5;
//       list-style-type: none;
//     }
//   }
}

.item-desc-cond-inv {
  background-color: rgba(255,255,255, 0.7);
  // margin-left: 10px;
  border-radius: 10px;
  padding: 14px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  p {
    font-size: 18px;
  }

  li {
    font-size: 22px;
    color: $primary-color;
    line-height: 1.5;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-family: $title-font;
    margin-bottom: 20px;
  }
}

.item-desc-projects {
  // height: 100%;
}

.footer-cond-inv {
  margin-top: 14px;
  .item-desc-cond-inv {
    span {
      p {
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.additional-description-cond-invest {
  margin-top: 15px;
  ul {
    li {
      font-size: 20px;
    }
  }
}

.item-uniq-projects {
  overflow: hidden;
  cursor: pointer;
  // padding: 15px 0 15px 0;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;

  }
}

.title-uniq-item {
  span {
    font-size: 32px;
    color: $primary-color;
    line-height: 1.5;
    font-weight:bold;
    font-family: $title-font;
    margin: 20px 0 20px 0;
  }

  &:hover {

  }
}

.desc-uniq-item {
  padding: 7px;
  span {
    font-size: 16px;
    color: $primary-color;
    line-height: 1;
    display: block;

  }
}

.desc-hidden-uniq {
  padding: 7px;
  display: none;
  span {
    font-size: 16px;
    color: $primary-color;
    line-height: 1;
    display: block;

  }
}

.arrow-un-item {
  text-align: center;
  width: 100%;
  display: none;
  img {
    width: 50px;
    text-align: center;
  }
}

/*=====================investment===================== */

.title-desc-investment {
  width: 100%;
  span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: $fontTitleSize;
    color: $primary-color;
    font-family: $title-font;
    font-weight: bold;
    margin: 50px 0 0 0;
  }
}

.text-inv {
  display: flex;
  align-items: center;
  span {
    color: $primary-color;
    font-size: 20px;
    text-align: justify;
    display: block;
    line-height: 1.1;
    text-indent: 32px;
  }
}

.inv {
  div {
    // margin-top: 25px;
  }
}

/*=====================projects===================== */

#projects {
  margin-top: 30px;
}

.projects-item {
  // border: 1px dashed $primary-color;
  height: 350px;
  cursor: pointer;
  color: $primary-color;
  position: relative;
  padding: 0 !important;
  border: 1.2px solid white;
}

.projects-item:hover {
  box-shadow: 0 0 20px $primary-color;
}

.description-project {
  display: none;
  z-index: 1000;
  border-radius: 7px;
  // background-color: white;
  box-shadow: 0 0 4px $primary-color;
  background-image: url(../img/wavegrid_@2X.png);
  overflow-x: auto;
  /* opacity: 0.4; */
}

.description-project {
  .btn-close-desc {
    right: 0;
    position: absolute;
    margin: -20px 10px 0 0;
    display: none;
  }
  span {
    display: none;
  }
  .btn-presentation {
    // display: none;
    height: 80px;
  }
}

.title-desc {
  display: flex;
  justify-content: center;

  span {
    font-size: 32px !important;
    color: $primary-color;
    font-weight: bold;
    font-family: $title-font;
    letter-spacing: 1.5px;
    // display: block;
    margin: 0px 0 25px 0;
    // display: block;
  }
}

#holiday-house {
  background-image: url(../img/desc/houseHiliday-new-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#levashovo {
  background-image: url(../img/desc/lev-new-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#island {
  background-image: url(../img/desc/island-new-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#troiza {
  background-image: url(../img/desc/serg-new-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-projects {
  position: absolute;
  height: 100%;
  width: 100%;
  span {
    display: flex;
    opacity: 0;
    color: $primary-color;
    font-size: $fontTitleSize;
    font-weight: bold;
    background-color: rgba(91,181,177, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: $title-font;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .proz {
    display: flex;
    color: $primary-color;
    font-size: 64px;
    font-weight: bold;
    // background-color: rgba(91,181,177, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    font-family: $title-font;
    letter-spacing: 1.5px;
    opacity: 0;
  }
}

.projecs-title {
  width: 100%;
  height: 100px;

  span {
    display: flex;
    color: $primary-color;
    font-size: $fontTitleSize;
    font-weight: bold;
    // background-color: rgba(91,181,177, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    font-family: $title-font;
    letter-spacing: 1.5px;
    // margin: 100px 0 100px 0;
  }


}

#desc-holhouse {
  .content-desc-pr {
    p {
      font-size: 18px;
      line-height: 1.6;
      text-indent: 32px;

      strong {
        font-size: 18px;
        i {
          font-size: 18px;
        }
      }
    }

    ul {
      margin-top: -15px !important;
      li {
        list-style-type: circle;
        font-size:18px;
        margin-left: 40px;
        line-height: 1.5;
      }
    }
  }
}

#text-advan-houholi {
  p {
    font-size: 18px;
    line-height: 1.5;
    text-indent: 32px;
  }
  ul {
    li {
      list-style-type: circle;
      font-size:18px;
      margin-left: 40px;
      line-height: 1.5;
      font-weight: bold;
    }
  }
}

.img-desc-houholi {
  display: flex;
  justify-content: center;

  // div {
  //     height: 300px;
  //
  //     img {
  //       height: 300px;
  //     }
  // }
}

.btn-presentation {
  height: 60px !important;
  width: 350px;
  font-size: 18px;
  color: #05426d !important;
  border: 1px solid #5bb5b1;
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
  padding: 4px;
  background-color: white;
  font-weight: bold;
  margin: 40px 0 40px 0;

}


.content-desc-pr {
  p {
    font-size: 18px;
    line-height: 1.5;
    text-indent: 32px;
    b {
      font-size: 18px;
      line-height: 1.5;
      em {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
  span {
    p {
      font-size: 18px;
      line-height: 1.5;
      text-indent: 32px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    text-indent: 32px;
  }
  ul {
    li {
      list-style-type: circle;
      font-size:18px;
      margin-left: 40px;
      line-height: 1.5;
      font-weight: bold;
    }
  }
}

.desc-lev-part2 {
  p {
    font-size: 18px;
    line-height: 1.5;
    text-indent: 32px;
  }

  ul {
    li {
      list-style-type: circle;
      font-size:18px;
      margin-left: 40px;
      line-height: 1.6;
      font-weight: bold;
    }
  }
}
.close-btn-pr {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 123123;
  right: 30px;
  top: 30px;
  display: none;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;

  }
}
.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 123123;
  right: 30px;
  top: 30px;
  display: none;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;

  }
}


/*=====================table for dec_projects=========================*/
.tablelevash-table {
  margin-top: 50px;
  box-shadow: 0 0 10px #5bb5b1;
  th {
    height: 40px;
    border: 2px solid white;
    padding: 10px;
    font-size: 16px;
    background-color: $primary-color;
    color: white;

  }
  tr,td {
    text-align: center;
    border: 2px solid $primary-color;
    height: 33px;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
  }

  thead {
    tr {
      text-align: center;
    }
  }
}

.inside-table {
  tr,td {
    border-bottom: 2px solid $primary-color;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    &:last-child {
      border-bottom: 0;
    }
  }
  tr {

  }
}

/*=====================payback===================== */


.title-yield {
  display: flex;
  color: #05426d;
  font-size: $fontTitleSize;
  font-weight: bold;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  font-family: BebasNeueRegular;
  letter-spacing: 1.5px;
  z-index: 102;
}

#projects-payback {
  margin-top: 100px;
}

.active-projects-payback-item {
  display: flex !important;
}

.projects-payback-item {
  display: none;
}

.projects-payback-item {
  span {
    // font-size: 34px;
    // color: $primary-color;
    // font-weight: bold;

  }
}

.memu-payback-item {
  cursor: pointer;
  background-color: #d9efff;
  height: 100%;

  span {
    font-size: 28px;
    font-weight: bold;
    color: $primary-color;
    font-family: $title-font;
    letter-spacing: 1.5px;
  }
}

.active-memu-payback-item {
  background-color: #007282;
  color: white !important;
  height: 71px;
  margin-top: -3px;
  span {
    background-color: #007282;
    color: white !important;
  }
}

.memu-payback-item{
  box-shadow: 0 0 3px $primary-color;
  &:hover {
    background-color: #007282;
    color: white;
    span {
      color: white !important;
    }
  }
  &:active {
    opacity: 0.7;
  }
}

.proj-payback {
  // border: 2px dashed $primary-color;
  height: 400px;
  width: 100%;
  box-shadow: 0 0 3px $primary-color;
  z-index: 102;
}


.menu-payback {
  padding: 25px 0 0 0;
  height: 90px;
  z-index: 102;
}

#lev-chart {
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;

  img {
    width: 90%;
  }

  .mus {
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
    z-index: 102;
  }

  .year {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 102;
  }
}


.ct-label {
  font-size: 12px;
}
g {
  width: 100%;
  height: 100%;
}

/*=====================calculator===================== */

.calculator {
  width: 100%;

}

.start-button{
  width: 100%;
  height: 50px;

  button {
    width: 100%;
    height: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: $primary-color;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    background-color: #d9efff;
    color: $primary-color;
  }
  button:active {
    opacity: 0.7;
  }
}

.calc-design {
  height: 270px;
  padding: 25px 0 25px 0 ;
  background-color: #72b2bb;
  border-radius: 5px;
  border: 2px solid #5bb5b1;

}

.calc-design {
  input {
    width: 250px;
    height: 34px;
    color: $primary-color !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    padding: 4px;
  }

  select {
    width: 250px;
    height: 34px;
    color: $primary-color !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    padding: 4px;
  }

  button {
    width: 250px;
    height: 34px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px #05426d;
    padding: 4px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
  }

  button:hover {
    width: 250px;
    height: 34px;
    color: white !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px #05426d;
    padding: 4px;
    background-color: #05426d;
    font-weight: bold;
  }

  button:active {
    width: 250px;
    height: 34px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px #05426d;
    padding: 4px;
    background-color: white;
    font-weight: bold;
  }

  span {
    display: block;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
}

.table-calc {
  // border: 1px solid $primary-color !important;
  margin-top: 40px;
}

.table-calc {
  thead {
    border: 2px solid #5bb5b1 !important;
    border-radius: 2px;
    box-shadow: 0 0 5px
  }

  th {
    border: 2px solid #5bb5b1 !important;
    border-radius: 2px;
    box-shadow: 0 0 5px
  }

  tr {
    border: 2px solid #5bb5b1 !important;
    border-radius: 2px;
    box-shadow: 0 0 1px $primary-color;
  }
}

.row-table-main {
  height: 35px;
  box-shadow: 0 0 3px #5bb5b1;
  // border: 2px solid $primary-color;
  border-left: 0;
  color: $primary-color;
  font-size: 16px;
  font-weight: bold;
  // display: none;
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-table-main {
  div {
    height: 35px;
    box-shadow: 0 0 3px #5bb5b1;
    border: 2px solid $primary-color;
    border-left: 0;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
  }

  div:first-child {
    border-left: 2px solid $primary-color;
  }
  .table-head {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .year {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.row-table {
  opacity: 0;
}

.row-table-main-cop {
  div {
    height: 35px;
    box-shadow: 0 0 3px #5bb5b1;
    border: 2px solid $primary-color;
    border-left: 0;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
  }

  div:first-child {
    border-left: 2px solid $primary-color;
  }
  .table-head {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .year {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.row-table-cop {
  div {
    height: 35px;
    box-shadow: 0 0 3px #5bb5b1;
    border: 2px solid $primary-color;
    border-left: 0;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
  }

  div:first-child {
    border-left: 2px solid $primary-color;
  }
  .table-head {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .year {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.row-table {
  div {
    height: 35px;
    box-shadow: 0 0 3px #5bb5b1;
    border: 2px solid $primary-color;
    border-left: 0;
    color: $primary-color;
    font-size: 16px;
    font-weight: bold;
  }

  div:first-child {
    border-left: 2px solid $primary-color;
  }

  .table-head {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .year {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.up,
.second {
  position: absolute;
  border: 1px solid #999;
  color: #0a0;
}

.table-cop-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $primary-color;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  z-index: 1000;
}

.table-cop-layout {
  span {
    color: $primary-color;
    font-size: 90px;
    display: block;
    transform: rotate(15deg);
  }
}

.graph {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: $primary-color !important;
}

.stroke-width{ width: 40px !important;}
/*=====================feedback===================== */

#feedback {
  margin-top: 50px;
  z-index: 112;
}

.form {
  z-index: 112;
  width: 100%;
}

.feedback-form {
  height: 100%;
  width: 100%;
  background-color: #72b2bb;
  border: 1.5px solid #5bb5b1;
  box-shadow: 0 0 10px grey;
  border-radius: 5px;
  padding: 28px 0 30px 0;
  display: flex;
  align-items: center;
  z-index: 112;
}

.feedback-form {
  .inp-feedback-form {
    width: 100%;
    div{
      input {
        margin-bottom: 25px;
        padding: 12px;
        font-size: 16px;
        width: 400px;
        height: 40px;
        color: #05426d !important;
        border: 1px solid #5bb5b1;
        border-radius: 5px;
        box-shadow: 0 0 3px grey;
        padding: 4px;
      }
      textarea {
        color: #05426d !important;
        border: 1px solid #5bb5b1;
        border-radius: 5px;
        box-shadow: 0 0 3px grey;
        padding: 4px;
        min-height: 100%;
        width: 400px;
      }
    }
    }
    #form-select {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      .choose-projects-bot {
        margin-bottom: 25px;
        padding: 12px;
        font-size: 16px;
        width: 400px;
        height: 40px;
        color: #05426d !important;
        border: 1px solid #5bb5b1;
        border-radius: 5px;
        box-shadow: 0 0 3px grey;
        padding: 4px;
      }

      .inv-amount-bot {
        margin-bottom: 25px;
        padding: 12px;
        font-size: 16px;
        width: 400px;
        height: 40px;
        color: #05426d !important;
        border: 1px solid #5bb5b1;
        border-radius: 5px;
        box-shadow: 0 0 3px grey;
        padding: 4px;
      }
  }

  button {
    // margin-top: 25px;
    width: 350px;
    font-size: 14px;
    height: 40px;
    color: #05426d !important;
    border: 1px solid #5bb5b1;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    padding: 4px;
    background-color: white;
    font-weight: bold;
  }
  span {
    display: block;
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
  }
}

/*=====================adv-of-us===================== */
#adv-of-us {
  margin-top: 50px;
}

.adv-of-us {
  color: $primary-color;
  h1 {
    text-align: center;
    font-size: $fontTitleSize;
    font-weight: bold;
    font-family: $title-font;
  }
  div {
    ul {
      li {
        font-size: 20px;
        line-height: 1.5;
        strong {
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }
    p {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

/*=====================contacts===================== */

#contacts {
  margin-top: 40px;
}

.maps {
  position: relative;
}

.contacts {
  /* position: absolute; */
  /*width: 30%;
  height: 100%;
  z-index: 102; */
  width: 100%;
  height: 20%;
  // height: 460px;
  position: absolute;
  // right: 0%;
  bottom: 0%;
  z-index: 300;

}

.layout-contacts {
  position: absolute;
  background-color: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.content-contacts {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 102;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // padding: 70px;
}

.content-contacts-item {
  // margin-top: 35px;
  font-size: 24px;
  color: $primary-color;
  font-family: $title-font;
}

.name-organization {
  font-weight: bold;
}

.lel-phone {
  font-size: 36px;
  font-family: $title-font;
  display: block;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 28px ;
    height: 28px ;
    background-image: url(../img/icon/phone-receiver.svg) !important;
    position: absolute;
    background-size: 28px 28px;
    margin-left: -28px;
    top: calc(50% - 14px);
    transform: rotate(20deg);
    left: 0;
    z-index: 102;
    display: block;
  }
}

.email-organization {
  font-family: $title-font;
  display: block;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 24px ;
    height: 24px ;
    background-image: url(../img/icon/envelope.svg) !important;
    position: absolute;
    background-size: 24px 24px;
    margin-left: -28px;
    top: calc(50% - 12px);
    // transform: rotate(20deg);
    left: 0;
    z-index: 102;
    display: block;
  }
}

.name-organization {
  font-family: $title-font;
  display: block;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 24px ;
    height: 24px ;
    background-image: url(../img/icon/avatar.svg) !important;
    position: absolute;
    background-size: 24px 24px;
    margin-left: -28px;
    top: calc(50% - 12px);
    // transform: rotate(20deg);
    left: 0;
    z-index: 102;
    display: block;
  }
}

.adress-organization {
  font-family: $title-font;
  display: block;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 30px ;
    height: 30px ;
    background-image: url(../img/icon/placeholder.svg) !important;
    position: absolute;
    background-size: 30px 30px;
    margin-left: -36px;
    top: calc(50% - 15px);
    // transform: rotate(20deg);
    left: 0;
    z-index: 102;
    display: block;
  }
}

/*=====================about-us===================== */

.title-about-us {
  margin: 10px 0 25px 0;
  span {
    display: flex;
    color: $primary-color;
    font-size: $fontTitleSize;
    font-weight: bold;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    font-family: BebasNeueRegular;
    letter-spacing: 1.5px;
  }
}

.text-about-us {
  display: flex;
  align-items: center;
  span {
    color: $primary-color;
    width: 100%;
    justify-content: center;
    font-family: $font-primary;
    letter-spacing: 1.5px;
    font-size: 20px;
    strong {
      font-size: 20px;
    }
  }
}

.text-partnet-about-us {
  display: flex;
  align-items: center;
  span {
    color: $primary-color;
    width: 100%;
    justify-content: center;
    font-family: $font-primary;
    letter-spacing: 1.5px;
    font-size: 20px;
  }
}

.text-land {
  margin-top: 30px;
  display: flex;
  align-items: center;
  span {
    color: $primary-color;
    width: 100%;
    justify-content: center;
    font-family: $font-primary;
    letter-spacing: 1.5px;
    font-size: 20px;
  }
}

.end-about-us {
  margin-top: 30px;
  display: flex;
  align-items: center;
  span{
    color: $primary-color;
    width: 100%;
    justify-content: center;
    font-family: $font-primary;
    letter-spacing: 1.5px;
    font-size: 20px;
    text-align: justify;
    a {
      text-decoration: none;
      color: #007282;
      font-size: 20px;
      font-weight: bold;
      &:hover {
        text-shadow: 0 0 2px $primary-color;
      }
    }
  }
}
/*=====================footer===================== */

.footer {
  height: 80px;
  width: 100%;
  // background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.soc-media {
  height: 80px;
  width: 100%;
  // background-color: $primary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-soc-media {
  width: 40px;
  height: 40px;
}

.icon-soc-media img {
  width: 40px;
  height: 40px;
}

.footer-slogan {
  width: 100%;
  display: flex;
  span {
    font-size: 32px;
    font-family: $title-font;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
  }
}

.footer {
  .container {
    height: 100%;
    background-color: $primary-color;
  }

  .row {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.lev-chart {
  width: 100%;
  height: 100%;
}

.active-projects-payback-item {
  width: 100%;
  height: 100%;

}
.burger {
  display: none;
}

@media screen and(max-width: 700px){
  .feedback-form {
    .inp-feedback-form {
      div{
        input {
          width: 300px;
        }
        textarea {
          width: 300px;
        }
      }
      }
      #form-select {
        .choose-projects-bot {
          width: 300px;
        }

        .inv-amount-bot {
          width: 300px;
        }
    }

    button {
      // margin-top: 25px;
      width: 250px;
    }

  }

  .navigation-header {
    padding: 25px 0 25px 0;
  }

  .navv ul {
    display: none;
    flex-direction: column;
    z-index: 1000;
    width: 100%;
    /* margin-top: 50px; */
    padding: 0;

  }

  .burger {
    display: block;
    position: absolute;
    order: 1;
    -webkit-order: 1;
    z-index: 1000;
    right: 10px;
    width: 25px;

  }

  .head-contacts {
    display: none;
  }

  .nav {
    position: relative;
  }

  .logo  {
    width: 100%;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    img {
      width: 80% !important;
    }
  }

  .logo-tip {
    .logo-img {
      img {
        width: 25px;
      }
    }
  }

  .feedback-form {
    button {
      width: 300px !important;
    }
  }

  .title-desc {
    span {
      font-size: 20px !important;
    }
  }
}

@media screen and(max-width: 1100px) {
  .logo-img {
    text-align: center;
    img {
      width: 60px;
    }
  }

  .ul-nav {
    display: flex;
    justify-content: space-around;
  }

  .head-contacts {
    display: none;
  }
}

@media screen and(max-width: 990px) {
  .slogan_1 {
    background-image: url(../img/house-slider.jpg);
    background-size: cover;
    // background-color: red;

  }

  .slogan_2 {
    background-image: url(../img/levashovo-min.jpg);
    background-size: cover;
    // background-color: green;

  }

  .slogan_3 {
    background-image: url(../img/earth-min.jpg);
    background-size: cover;
    // background-color: orange;

  }

  .slogan_4 {
    background-image: url(../img/earth-2-min.jpg);
    background-size: cover;
    // background-color: brown;

  }

  .slide-item {
    height: 300px;
  }

  .item-desc-cond-inv {
    p {
      font-size: 14px;
    }
  }
}

@media screen and(max-width: 770px) {

  .adv-ul {
    li {
      font-size: 14px !important;
    }
  }

  .ul-nav {
    display: flex;
    justify-content: space-between;
    .li-nav {

      a {
        font-size: 14px;
        margin: 0 !important;
      }
    }
  }

  th, td {
    font-size: 10px !important;
  }

  .logo-img {
    margin: 0 !important;
    img {
      width: 35px;
    }
  }

  #invest-pool {
    padding-left: 15px !important;
    margin-top: 14px;
  }

  #invest-lot {
    padding-right: 15px !important;
  }

  .feedback-form {
    div {
      input {
        &:last-child {
          margin-bottom: 25px !important;
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .slogan {
    width: 100px !important;
    height: 100px;
  }

  .description-project {
      padding: 10px !important;
  }

  th, td {
    font-size: 8px !important;
  }

  p {
    font-size: 12px !important;
  }

  span {
    font-size: 12px !important;
  }

  li {
    font-size: 18px !important;
  }
  .feedback-form {
    .inp-feedback-form {
      div {
        input {
          width: 270px;
        }
        textarea {
          // margin-top: 25px;
          width: 270px;
          height: 100px;
        }
      }
    }
    #form-select {
      .choose-projects-bot {
        width: 270px;
      }

      .inv-amount-bot {
        width: 270px;
      }
    }

    button {
      // margin-top: 25px;
      width: 170px !important;
    }
  }
}

@media screen and(max-width: 500px) {
  .form-popup {
    display: flex;
    justify-content: center;
    .feedback-form-popup {
      width: 90%;

      input, select, textarea {
        width: 95%;
      }

      select {
        option {
          width: 95% !important;
        }
      }

      button {
        width: 70%;
      }
    }
  }

  .real-mod-web {
    .close-btn-mod-web {
      right: 25px !important;
    }
  }

  .investment-conditions p {
    text-indent: 0;
  }

  .additional-description-cond-invest {
    span {
      h2 {
        font-size: 20px;
      }

      ul {
        li {
          font-size: 14px !important;
        }
      }
    }
  }

  .title {
    height: 50px;
    span {
      font-size: 20px !important;
      align-items: center !important;
      height: 40px;
    }
  }

  #projects {
    margin: 0;
  }

  .title-desc-investment {
    span {
      font-size: 20px !important;
    }
  }

  .investment-conditions{

    p {
      strong {
        font-size: 20px !important;
      }
    }
  }

  .adv-of-us {
    h1 {
      font-size: 20px !important;
    }

    div {
      ul {
        li {
          font-size: 14px !important;

          strong {
            font-size: 14px !important;
          }
        }
      }
    }
  }

  .end-about-us {
    span {
      font-size: 14px !important;
    }
  }

  .title-about-us {
    margin: 15px 0 0 0;
  }
}
/*=====================animate===================== */

@-webkit-keyframes fadeInSlogan {
  0%
  {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);

  }
  100%
  {
    opacity: 1;
    transform: translate3d(0, 0,0 );
  }

}
@-moz-keyframes fadeInSlogan {
  0%
  {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);

  }
  100%
  {
    opacity: 1;
    transform: translate3d(0, 0,0 );
  }
}
@-o-keyframes fadeInSlogan {
  0%
  {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);

  }
  100%
  {
    opacity: 1;
    transform: translate3d(0, 0,0 );
  }
}

@keyframes fadeInSlogan {
  0%
  {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);

  }
  100%
  {
    opacity: 1;
    transform: translate3d(0, 0,0 );
  }
}

.fadeInn {
  animation-name: fadeInSlogan;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
}

// @keyframes slider {
//   0%
//   {
//     transform: translateX(0);
//   }
//
//   20%
//   {
//     transform: translateX(calc(-100%/4));
//   }
//
//   40%
//   {
//     transform: translateX(calc(-100%/2));
//   }
//
//   60%
//   {
//     transform: translateX(calc(-(100%/2 + 100%/4)));
//   }
//
//   80%
//   {
//     transform: translateX(-75%);
//   }
//
//   100%
//   {
//     transform: translateX(0px);
//   }
// }
//
// .slider-annimation {
//   -webkit-animation: slider 30s infinite;
//   animation: slider 30s infinite;
//   animation-delay: 4s;
// }

// .pulse {
//   display: block;
//   background: $primary-color;
//   width: 100%;
//   height: 100%;
//   cursor: pointer;
//   box-shadow: 0 0 10px $primary-color;
//   border-radius: 7px;
//   animation: pulse 2s infinite;
// }
// .pulse:hover {
//   animation: none;
// }
//
// @-webkit-keyframes pulse {
//   0% {
//     -webkit-box-shadow: 0 0 0 0 white;
//   }
//   70% {
//       -webkit-box-shadow: 0 0 0 130px $primary-color;
//   }
//   100% {
//       -webkit-box-shadow: 0 0 0 0 white;
//   }
// }
// @keyframes pulse {
//   0% {
//     -webkit-box-shadow: 0 0 0 0 white;
//   }
//   70% {
//       -webkit-box-shadow: 0 0 0 130px $primary-color;
//   }
//   100% {
//       -webkit-box-shadow: 0 0 0 0 white;
//   }
// }

$color-grey: #2c3e50;
$color-violet: #8e44ad;
$color-blue: #3498db;
$color-green: #2ecc71;
$color-yellow: #f1c40f;

// ------------------------

$btn-bg-color: white;
$btn-bg-color-hover: $color-blue;
$btn-radius: 5px;

// Pulse animation
// ------------------------

.btn-form-request-fix {
  z-index: 100000;
  text-align: center;
  position: fixed;
  width: 140px;
  height: 30px;
  //border: 1px dashed $primary-color;
  right: 1%;
  // z-index: 213123123000;
  bottom: 2%;
  cursor: pointer;
  outline-style: none;
  button {
    outline-style: none;
    width: 140px;
    font-size: 14px;
    height: 30px;
    color: #05426d !important;
    // border: 1px solid #5bb5b1;
    // border-radius: 5px;
    // box-shadow: 0 0 3px grey;
    padding: 4px;
    background-color: white;
    font-weight: bold;
    border-radius: $btn-radius;
    transition: all 300ms ease-in 200ms;
    border: 0px;
    cursor: pointer;
    &:hover {
      background-color: $btn-bg-color-hover;
      color: white;
    }
  }
}

.animate-pulse {
  $color-bg: $btn-bg-color;
  $color-bg-hover: $btn-bg-color-hover;

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: scale(1.7);
      opacity: 0;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    border-radius: $btn-radius;
    box-sizing: border-box;

    // animation
    animation-name: pulse;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  &:hover:after {
    background-color: $color-bg-hover;
    transition: all 200ms ease-out 0s;
    box-sizing: border-box;
  }
}

.copyright {
  position: absolute;
  color: white;
  font-size: 14px !important;
  right: 30px;
  bottom: 10px;
  display: block
}
